@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

:root {
    font-optical-sizing: auto;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    min-height: 100vh;
    background-color: var(--white);
}
