@mixin text-preset-1 {
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(4.8rem, 7vw, 8rem);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0rem;
}

@mixin text-preset-2 {
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(3.2rem, 7vw, 5.6rem);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0rem;
}

@mixin text-preset-3 {
    font-family: 'Fraunces', sans-serif;
    font-size: clamp(2.4rem, 7vw, 3.2rem);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0rem;
}

@mixin text-preset-4 {
    font-family: 'Manrope', sans-serif;
    font-size: clamp(1.6rem, 7vw, 1.8rem);
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0rem;
}

@mixin text-preset-5 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0rem;
}

@mixin text-preset-6 {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 0rem;
}
