@use '../global/typography' as t;
@use '../utils/' as u;

.header {
    background-color: var(--slate-900);
    padding: 3.2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint(medium) {
        padding: 3.2rem 4.4rem 0rem 4.4rem;
    }

    @include u.breakpoint(large) {
        padding: 5.6rem 8rem 0rem 8rem;
    }

    &__button {
        outline: none;
        border: none;
        background-color: inherit;
        @include t.text-preset-5();
        color: var(--white);
        border-bottom: 0.3rem solid var(--green);
        transition: all 0.3s ease-out;
    }

    &__button:hover {
        cursor: pointer;
        color: var(--green);
    }
}
